services:
	nelmio_alice.generator.hydrator:
		autowired: no
		type: Nelmio\Alice\Generator\HydratorInterface
		factory: @nelmio_alice.generator.hydrator.simple

	nelmio_alice.generator.hydrator.simple:
		autowired: no
		type: Nelmio\Alice\Generator\HydratorInterface
		factory: Nelmio\Alice\Generator\Hydrator\SimpleHydrator(@nelmio_alice.generator.hydrator.property)

	nelmio_alice.generator.hydrator.property:
		autowired: no
		type: Nelmio\Alice\Generator\Hydrator\PropertyHydratorInterface
		factory: @nelmio_alice.generator.hydrator.property.symfony_property_access

	nelmio_alice.generator.hydrator.property.symfony_property_access:
		autowired: no
		type: Nelmio\Alice\Generator\Hydrator\PropertyHydratorInterface
		factory: Nelmio\Alice\Generator\Hydrator\Property\SymfonyPropertyAccessorHydrator(@nelmio_alice.property_accessor)
