services:
	nelmio_alice.generator.hydrator:
		autowired: no
		class: Nelmio\Alice\Generator\HydratorInterface
		factory: Nelmio\Alice\Generator\Hydrator\SimpleHydrator(@nelmio_alice.generator.hydrator.property)

	nelmio_alice.generator.hydrator.property:
		autowired: no
		class: Nelmio\Alice\Generator\Hydrator\PropertyHydratorInterface
		factory: Nelmio\Alice\Generator\Hydrator\Property\SymfonyPropertyAccessorHydrator(@nelmio_alice.property_accessor)
