services:
	# Loaders
	fidry_alice_data_fixtures.loader.doctrine_mongodb:
		autowired: no
		type: Fidry\AliceDataFixtures\LoaderInterface
		factory: @fidry_alice_data_fixtures.doctrine_mongodb.event_manager_loader

	fidry_alice_data_fixtures.doctrine_mongodb.event_manager_loader:
		autowired: no
		type: Fidry\AliceDataFixtures\LoaderInterface
		factory: SixtyEightPublishers\FixturesBundle\Bridge\AliceDataFixtures\Loader\EventManagerLoader(
			@fidry_alice_data_fixtures.doctrine_mongodb.purger_loader,
			@fidry_alice_data_fixtures.event_manager_restrictor_factory,
			@Doctrine\ODM\MongoDB\DocumentManager::getEventManager()
		)

	fidry_alice_data_fixtures.doctrine_mongodb.purger_loader:
		autowired: no
		type: Fidry\AliceDataFixtures\LoaderInterface
		factory: Fidry\AliceDataFixtures\Loader\PurgerLoader(
			@fidry_alice_data_fixtures.doctrine_mongodb.persister_loader,
			@fidry_alice_data_fixtures.persistence.purger_factory.doctrine_mongodb,
			@fidry_alice_data_fixtures.default_purge_mode::getName(),
			@fidry_alice_data_fixtures.logger
		)

	fidry_alice_data_fixtures.doctrine_mongodb.persister_loader:
		autowired: no
		type: Fidry\AliceDataFixtures\LoaderInterface
		factory: Fidry\AliceDataFixtures\Loader\PersisterLoader(
			@fidry_alice_data_fixtures.loader.simple,
			@fidry_alice_data_fixtures.persistence.persister.doctrine_mongodb,
			@fidry_alice_data_fixtures.logger
			# processors are injected by tag "fidry_alice_data_fixtures.processor"
		)

	# Purger Factory
	fidry_alice_data_fixtures.persistence.purger_factory.doctrine_mongodb:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PurgerFactoryInterface
		factory: @fidry_alice_data_fixtures.persistence.doctrine_mongodb.purger.purger_factory

	fidry_alice_data_fixtures.persistence.doctrine_mongodb.purger.purger_factory:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PurgerFactoryInterface
		factory: Fidry\AliceDataFixtures\Bridge\Doctrine\Purger\Purger(@Doctrine\ODM\MongoDB\DocumentManager)

	# Persisters
	fidry_alice_data_fixtures.persistence.persister.doctrine_mongodb:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PersisterInterface
		factory: @fidry_alice_data_fixtures.persistence.persister.doctrine_mongodb.object_manager_persister

	fidry_alice_data_fixtures.persistence.persister.doctrine_mongodb.object_manager_persister:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PersisterInterface
		factory: Fidry\AliceDataFixtures\Bridge\Doctrine\Persister\ObjectManagerPersister(@Doctrine\ODM\MongoDB\DocumentManager)

	# Driver
	fidry_alice_data_fixtures.driver.doctrine_mongodb:
		autowired: no
		type: SixtyEightPublishers\FixturesBundle\Bridge\AliceDataFixtures\Driver\DriverInterface
		factory: SixtyEightPublishers\FixturesBundle\Bridge\AliceDataFixtures\Driver\ComposedDriver(
			SixtyEightPublishers\FixturesBundle\Bridge\AliceDataFixtures\Driver\DriverInterface::DOCTRINE_MONGODB_ODM_DRIVER,
			@fidry_alice_data_fixtures.loader.doctrine_mongodb,
			@fidry_alice_data_fixtures.persistence.persister.doctrine_mongodb,
			@fidry_alice_data_fixtures.context.main
		)
