services:
	# Loaders
	fidry_alice_data_fixtures.loader.doctrine_phpcr:
		autowired: no
		type: Fidry\AliceDataFixtures\LoaderInterface
		factory: @fidry_alice_data_fixtures.doctrine_phpcr.purger_loader

	fidry_alice_data_fixtures.doctrine_phpcr.purger_loader:
		autowired: no
		type: Fidry\AliceDataFixtures\LoaderInterface
		factory: Fidry\AliceDataFixtures\Loader\PurgerLoader(
			@fidry_alice_data_fixtures.doctrine_phpcr.persister_loader,
			@fidry_alice_data_fixtures.persistence.purger_factory.doctrine_phpcr,
			@fidry_alice_data_fixtures.default_purge_mode::getName(),
			@fidry_alice_data_fixtures.logger
		)

	fidry_alice_data_fixtures.doctrine_phpcr.persister_loader:
		autowired: no
		type: Fidry\AliceDataFixtures\LoaderInterface
		factory: Fidry\AliceDataFixtures\Loader\PersisterLoader(
			@fidry_alice_data_fixtures.loader.simple,
			@fidry_alice_data_fixtures.persistence.persister.doctrine_phpcr,
			@fidry_alice_data_fixtures.logger
			# processors are injected by tag "fidry_alice_data_fixtures.processor"
		)

	# Purger Factory
	fidry_alice_data_fixtures.persistence.purger_factory.doctrine_phpcr:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PurgerFactoryInterface
		factory: @fidry_alice_data_fixtures.persistence.doctrine_phpcr.purger.purger_factory

	fidry_alice_data_fixtures.persistence.doctrine_phpcr.purger.purger_factory:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PurgerFactoryInterface
		factory: Fidry\AliceDataFixtures\Bridge\Doctrine\Purger\Purger(@Doctrine\ODM\PHPCR\DocumentManagerInterface)

	# Persisters
	fidry_alice_data_fixtures.persistence.persister.doctrine_phpcr:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PersisterInterface
		factory: @fidry_alice_data_fixtures.persistence.persister.doctrine_phpcr.object_manager_persister

	fidry_alice_data_fixtures.persistence.persister.doctrine_phpcr.object_manager_persister:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PersisterInterface
		factory: Fidry\AliceDataFixtures\Bridge\Doctrine\Persister\ObjectManagerPersister(@Doctrine\ODM\PHPCR\DocumentManagerInterface)

	# Driver
	fidry_alice_data_fixtures.driver.doctrine_phpcr:
		autowired: no
		type: SixtyEightPublishers\FixturesBundle\Bridge\AliceDataFixtures\Driver\IDriver
		factory: SixtyEightPublishers\FixturesBundle\Bridge\AliceDataFixtures\Driver\ComposedDriver(
			doctrine_phpcr_odm,
			@fidry_alice_data_fixtures.loader.doctrine_phpcr,
			@fidry_alice_data_fixtures.persistence.purger_factory.doctrine_phpcr,
			@fidry_alice_data_fixtures.persistence.persister.doctrine_phpcr
		)
