services:
	# Loaders
	fidry_alice_data_fixtures.loader.doctrine:
		autowired: no
		type: Fidry\AliceDataFixtures\LoaderInterface
		factory: @fidry_alice_data_fixtures.doctrine.event_manager_loader

	fidry_alice_data_fixtures.doctrine.event_manager_loader:
		autowired: no
		type: Fidry\AliceDataFixtures\LoaderInterface
		factory: SixtyEightPublishers\FixturesBundle\Bridge\AliceDataFixtures\Loader\EventManagerLoader(
			@fidry_alice_data_fixtures.doctrine.purger_loader,
			@fidry_alice_data_fixtures.event_manager_restrictor_factory,
			@Doctrine\ORM\EntityManagerInterface::getEventManager()
		)

	fidry_alice_data_fixtures.doctrine.purger_loader:
		autowired: no
		type: Fidry\AliceDataFixtures\LoaderInterface
		factory: Fidry\AliceDataFixtures\Loader\PurgerLoader(
			@fidry_alice_data_fixtures.doctrine.persister_loader,
			@fidry_alice_data_fixtures.persistence.purger_factory.doctrine,
			@fidry_alice_data_fixtures.default_purge_mode::getName(),
			@fidry_alice_data_fixtures.logger
		)

	fidry_alice_data_fixtures.doctrine.persister_loader:
		autowired: no
		type: Fidry\AliceDataFixtures\LoaderInterface
		factory: Fidry\AliceDataFixtures\Loader\PersisterLoader(
			@fidry_alice_data_fixtures.loader.simple,
			@fidry_alice_data_fixtures.persistence.persister.doctrine,
			@fidry_alice_data_fixtures.logger
			# processors are injected by tag "fidry_alice_data_fixtures.processor"
		)

	# Purger Factory
	fidry_alice_data_fixtures.persistence.purger_factory.doctrine:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PurgerFactoryInterface
		factory: @fidry_alice_data_fixtures.persistence.doctrine.purger.purger_factory

	fidry_alice_data_fixtures.persistence.doctrine.purger.purger_factory:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PurgerFactoryInterface
		factory: Fidry\AliceDataFixtures\Bridge\Doctrine\Purger\Purger(@Doctrine\ORM\EntityManagerInterface)

	# Persisters
	fidry_alice_data_fixtures.persistence.persister.doctrine:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PersisterInterface
		factory: @fidry_alice_data_fixtures.persistence.persister.doctrine.object_manager_persister

	fidry_alice_data_fixtures.persistence.persister.doctrine.object_manager_persister:
		autowired: no
		type: Fidry\AliceDataFixtures\Persistence\PersisterInterface
		factory: Fidry\AliceDataFixtures\Bridge\Doctrine\Persister\ObjectManagerPersister(@Doctrine\ORM\EntityManagerInterface)

	# Driver
	fidry_alice_data_fixtures.driver.doctrine:
		autowired: no
		type: SixtyEightPublishers\FixturesBundle\Bridge\AliceDataFixtures\Driver\IDriver
		factory: SixtyEightPublishers\FixturesBundle\Bridge\AliceDataFixtures\Driver\ComposedDriver(
			doctrine_orm,
			@fidry_alice_data_fixtures.loader.doctrine,
			@fidry_alice_data_fixtures.persistence.purger_factory.doctrine,
			@fidry_alice_data_fixtures.persistence.persister.doctrine
		)
