services:
	nelmio_alice.file_locator:
		factory: @fixtures_bundle.alice.file_locator.bundle

	fixtures_bundle.alice.file_locator.bundle:
		autowired: no
		type: Nelmio\Alice\FileLocatorInterface
		factory: SixtyEightPublishers\FixturesBundle\FileLocator\BundleFileLocator(
			@nelmio_alice.file_locator.default
			# Map is passed in the CompilerExtension
		)
