services:
	68publishers_fixtures_bundle.console.load_data_fixtures_command:
		type: SixtyEightPublishers\FixturesBundle\Console\LoadDataFixturesCommand
		arguments:
			- @68publishers_fixtures_bundle.loader
			- @68publishers_fixtures_bundle.scenario_provider
			- @fidry_alice_data_fixtures.driver_provider
			- @fidry_alice_data_fixtures.default_purge_mode
			- @fidry_alice_data_fixtures.logger

	68publishers_fixtures_bundle.console.data_fixutres_list_command:
		type: SixtyEightPublishers\FixturesBundle\Console\DataFixturesListCommand
		arguments:
			- @68publishers_fixtures_bundle.scenario_provider
			- @68publishers_fixtures_bundle.file_resolver.relative
			- @68publishers_fixtures_bundle.file_exporter.relative
