services:
	nelmio_alice.fixture_builder.expression_language.parser:
		autowired: no
		type: Nelmio\Alice\FixtureBuilder\ExpressionLanguage\ParserInterface
		factory: @nelmio_alice.fixture_builder.expression_language.parser.function_fixture_reference_parser

	nelmio_alice.fixture_builder.expression_language.parser.function_fixture_reference_parser:
		autowired: no
		type: Nelmio\Alice\FixtureBuilder\ExpressionLanguage\ParserInterface
		factory: Nelmio\Alice\FixtureBuilder\ExpressionLanguage\Parser\FunctionFixtureReferenceParser(@nelmio_alice.fixture_builder.expression_language.parser.string_parser)

	nelmio_alice.fixture_builder.expression_language.parser.string_parser:
		autowired: no
		type: Nelmio\Alice\FixtureBuilder\ExpressionLanguage\ParserInterface
		factory: Nelmio\Alice\FixtureBuilder\ExpressionLanguage\Parser\StringMergerParser(@nelmio_alice.fixture_builder.expression_language.parser.simple_parser)

	nelmio_alice.fixture_builder.expression_language.parser.simple_parser:
		autowired: no
		type: Nelmio\Alice\FixtureBuilder\ExpressionLanguage\ParserInterface
		factory: Nelmio\Alice\FixtureBuilder\ExpressionLanguage\Parser\SimpleParser(
			@nelmio_alice.fixture_builder.expression_language.lexer,
			@nelmio_alice.fixture_builder.expression_language.parser.token_parser
		)
