services:
	nelmio_alice.file_locator:
		autowired: no
		type: Nelmio\Alice\FileLocatorInterface
		factory: @nelmio_alice.file_locator.default

	nelmio_alice.file_locator.default:
		autowired: no
		type: Nelmio\Alice\FileLocatorInterface
		factory: Nelmio\Alice\FileLocator\DefaultFileLocator()
