services:
	nelmio_alice.file_parser:
		autowired: no
		type: Nelmio\Alice\ParserInterface
		factory: @nelmio_alice.file_parser.runtime_cache

	nelmio_alice.file_parser.runtime_cache:
		autowired: no
		type: Nelmio\Alice\ParserInterface
		factory: Nelmio\Alice\Parser\RuntimeCacheParser(
			@nelmio_alice.file_parser.registry,
			@nelmio_alice.file_locator,
			@nelmio_alice.file_parser.default_include_processor
		)

	nelmio_alice.file_parser.symfony_yaml:
		autowired: no
		type: Symfony\Component\Yaml\Parser

	nelmio_alice.file_parser.default_include_processor:
		autowired: no
		type: Nelmio\Alice\Parser\IncludeProcessorInterface
		factory: Nelmio\Alice\Parser\IncludeProcessor\DefaultIncludeProcessor(@nelmio_alice.file_locator)

	nelmio_alice.file_parser.registry:
		autowired: no
		type: Nelmio\Alice\ParserInterface
		factory: Nelmio\Alice\Parser\ParserRegistry
		# arguments are into registry injected by tag "nelmio_alice.file_parser"

	nelmio_alice.file_parser.chainable.yaml:
		autowired: no
		type: Nelmio\Alice\Parser\ChainableParserInterface
		factory: Nelmio\Alice\Parser\Chainable\YamlParser(@nelmio_alice.file_parser.symfony_yaml)
		tags:
			nelmio_alice.file_parser: yes

	nelmio_alice.file_parser.chainable.php:
		autowired: no
		type: Nelmio\Alice\Parser\ChainableParserInterface
		factory: Nelmio\Alice\Parser\Chainable\PhpParser
		tags:
			nelmio_alice.file_parser: yes

	nelmio_alice.file_parser.chainable.json:
		autowired: no
		type: Nelmio\Alice\Parser\ChainableParserInterface
		factory: Nelmio\Alice\Parser\Chainable\JsonParser
		tags:
			nelmio_alice.file_parser: yes

	nelmio_alice.file_parser.chainable.neon:
		autowired: no
		type: Nelmio\Alice\Parser\ChainableParserInterface
		factory: SixtyEightPublishers\FixturesBundle\Bridge\Alice\Parser\Chainable\NeonParser
		tags:
			nelmio_alice.file_parser: yes
