services:
	nelmio_alice.property_accessor:
		autowired: no
		type: Symfony\Component\PropertyAccess\PropertyAccessorInterface
		factory: @nelmio_alice.property_accessor.std

	nelmio_alice.property_accessor.std:
		autowired: no
		type: Symfony\Component\PropertyAccess\PropertyAccessorInterface
		factory: Nelmio\Alice\PropertyAccess\StdPropertyAccessor(@property_accessor)
