services:
	nelmio_alice.property_accessor:
		autowired: no
		class: Symfony\Component\PropertyAccess\PropertyAccessorInterface
		factory: Nelmio\Alice\PropertyAccess\StdPropertyAccessor(@property_accessor)
